body {
  background-color: #bee9e8;
}

nav {
  margin-left: 20px;
  padding-top: 5px;
  text-align: left;
  font-family: Gregoria;
  color: #7f4f24;
  font-weight: bold; 
  font-size: 20px;
}
a {
    text-decoration: none;
    color: #7f4f24;
    font-weight: bold;
}
a:hover{
    text-decoration: none;
    color: #ffe6a7;
}


.intro p1 {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  font-family: Monaco;
  color: #344e41;
  font-size: 23px;
}


/*.character {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: nowrap;
}

.character img {
  height: 200px;
  border-radius: 16px;
}

.characterdesc {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: top;
}*/




div.gallery {
  justify-content: space-evenly;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
}


.head-demir {
  color: #111d13;
  font-family: Garamond;
  font-size: 200%;
}
.demir {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: nowrap;
  background-color: #415d43;
  color: white;
  border: 5px solid #111d13;
  margin-right: 5%;
}
.demir img {
  height: 280px;
  padding-right: 10px;
}
.demir p2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Gregoria;
  color: #ffe6a7;
  font-size: 20px;
  padding-top: 15px;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 10px;
}


.head-liam {
  color: #111d13;
  font-family: Garamond;
  font-size: 200%;
  margin-left: 60px;
}
.liam {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: nowrap;
  background-color: #415d43;
  color: white;
  border: 5px solid #111d13;
  margin-left: 5%;
}
.liam img {
  height: 260px;
  padding-right: 10px;
}
.liam p2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Gregoria;
  color: #ffe6a7;
  font-size: 20px;
  padding-top: 45px;
  margin-left: 5%;
  margin-right: 5%;
}


.head-shegur {
  color: #111d13;
  font-family: Garamond;
  font-size: 200%;
}
.shegur {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: nowrap;
  background-color: #415d43;
  color: white;
  border: 5px solid #111d13;
  margin-right: 5%;
}
.shegur img {
  height: 260px;
  padding-right: 10px;
}
.shegur p2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Gregoria;
  color: #ffe6a7;
  font-size: 20px;
  padding-top: 15px;
  margin-left: 20px;
  padding-right: 20px;
  padding-top: 45px;
}


.head-marsha {
  color: #111d13;
  font-family: Garamond;
  font-size: 200%;
  margin-left: 60px;
}
.marsha {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: nowrap;
  background-color: #415d43;
  color: white;
  border: 5px solid #111d13;
  margin-left: 5%;
}
.marsha img {
  height: 285px;
}
.marsha p2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Gregoria;
  color: #ffe6a7;
  font-size: 20px;
  padding-top: 5px;
  margin-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 15px;
}