body {
  background-color: #aec3b0;
}

nav {
  margin-left: 20px;
  padding-top: 5px;
  text-align: left;
  font-family: Gregoria;
  color: #7f4f24;
  font-weight: bold; 
  font-size: 20px;
}

a {
    text-decoration: none;
    color: #7f4f24;
    font-weight: bold;
}
a:hover{
    text-decoration: none;
    color: #ffe6a7;
}

.intro p1 {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  font-family: Gregoria;
  color: #2f4858;
  font-size: 20px;
}


div.gallery {
  justify-content: space-evenly;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
}


.head-sunder {
  color: #031926;
  font-family: Garamond;
  font-size: 200%;
}
.sunder {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: nowrap;
  background-color: #468189;
  color: white;
  border: 5px solid #031926;
  margin-right: 15%;
}
.sunder img {
  height: 260px;
  padding-right: 10px;
}
.sunder p2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Gregoria;
  color: #ffe6a7;
  font-size: 20px;
  padding-top: 15px;
  margin-left: 5%;
  padding-right: 20px;
}


.head-ren {
  color: #283618;
  font-family: Garamond;
  font-size: 200%;
  margin-left: 180px;
}
.ren {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: nowrap;
  background-color: #468189;
  color: white;
  border: 5px solid #031926;
  margin-left: 15%;
}
.ren img {
  height: 320px;
  padding-right: 10px;
}
.ren p2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Gregoria;
  color: #ffe6a7;
  font-size: 20px;
  padding: 3%;
}


.head-miel {
  color: #031926;
  font-family: Garamond;
  font-size: 200%;
}
.miel {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: nowrap;
  background-color: #468189;
  color: white;
  border: 5px solid #031926;
  margin-right: 15%;
}
.miel img {
  height: 290px;
  padding-right: 10px;
}
.miel p2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Gregoria;
  color: #ffe6a7;
  font-size: 20px;
  padding-top: 15px;
  margin-left: 5%;
  padding-top: 5%;
  margin-right: 5%;
}


.head-pene {
  color: #031926;
  font-family: Garamond;
  font-size: 200%;
  margin-left: 180px;
}
.pene {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: nowrap;
  background-color: #468189;
  color: white;
  border: 5px solid #031926;
  margin-left: 15%;
}
.pene img {
  height: 260px;
  padding-right: 10px;
}
.pene p2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Gregoria;
  color: #ffe6a7;
  font-size: 20px;
  padding-top: 15px;
  margin-left: 5%;
  padding-right: 20px;
}