body {
  background-color: #bb9457;
}

nav {
  margin-left: 20px;
  padding-top: 5px;
  text-align: left;
  font-family: Gregoria;
  color: #7f4f24;
  font-weight: bold; 
  font-size: 20px;
}

a {
    text-decoration: none;
    color: #7f4f24;
    font-weight: bold;
}
a:hover{
    text-decoration: none;
    color: #ffe6a7;
}

.intro {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  font-family: Gregoria;
  color: #344e41;
  font-size: 30px;
}



div.gallery {
  justify-content: space-evenly;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.head-victoria {
  color: #283618;
  font-family: Garamond;
  font-size: 200%;
}
.victoria {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: nowrap;
  background-color: #606c38;
  color: white;
  border: 5px solid #283618;
  margin-right: 30%;
}
.victoria img {
  height: 260px;
  padding-right: 10px;
}
.victoria p2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Gregoria;
  color: #ffe6a7;
  font-size: 20px;
  padding-top: 15px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
}

.head-ruben {
  margin-left: 83%;
  color: #023e8a;
  text-align: right;
  font-family: Garamond;
  font-size: 200%;
}
.ruben {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: nowrap;
  background-color: #168aad;
  color: white;
  border: 5px solid #023e8a;
  margin-left: 30%;
}
.ruben img {
  height: 260px;
  padding-left: 5px;
}
.ruben p2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Gregoria;
  color: #caf0f8;
  font-size: 20px;
  padding-top: 15px;
  margin: 5%;
  padding-right: 20px;
}

.head-navy {
  color: #3c096c;
  font-family: Garamond;
  font-size: 200%;
}
.navy {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: nowrap;
  background-color: #9f86c0;
  color: white;
  border: 5px solid #3c096c;
  margin-right: 30%;
}
.navy img {
  height: 260px;
  padding-right: 10px;
}
.navy p2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Gregoria;
  color: #feeafa;
  font-size: 20px;
  padding-top: 15px;
  margin-left: 5%;
  padding-right: 7%;
  margin-top: 10px;
}

.head-eman {
  margin-left: 75%;
  color: #582f0e;
  text-align: right;
  font-family: Garamond;
  font-size: 200%;
}
.eman {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: nowrap;
  background-color: #adc178;
  color: white;
  border: 5px solid #582f0e;
  margin-left: 30%; 
}
.eman img {
  height: 260px;
  padding-left: 5px;
}
.eman p2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Gregoria;
  color: #583101;
  font-size: 20px;
  padding-top: 15px;
  margin-left: 5%;
  margin-right: 30px;
  margin-top: 35px;
}

.head-chris {
  color: #bb3e03;
  font-family: Garamond;
  font-size: 200%;
}
.chris {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: nowrap;
  background-color: #ee9b00;
  color: white;
  border: 5px solid #bb3e03;
  margin-right: 30%;
}
.chris img {
  height: 260px;
  padding-right: 10px;
}
.chris p2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Gregoria;
  color: #9b2226;
  font-size: 20px;
  padding-top: 15px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
}

.head-jo {
  margin-left: 83%;
  color: #580c1f;
  text-align: right;
  font-family: Garamond;
  font-size: 200%;
}
.jo {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: nowrap;
  background-color: #ff595e;
  color: white;
  border: 5px solid #580c1f;
  margin-left: 30%;
}
.jo img {
  height: 260px;
  padding-left: 5px;
}
.jo p2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Gregoria;
  color: #720026;
  font-size: 20px;
  padding-top: 15px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
}